<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="primary">
        Admin Site
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="goAPIs()">
      <ion-icon name="bug"></ion-icon>
      <ion-label class="ion-margin-start">
        APIs
      </ion-label>
    </ion-item>
    <ion-item button (click)="goCMS()">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label class="ion-margin-start">
        CMS
      </ion-label>
    </ion-item>
    <ion-item button (click)="goCMSGrant()">
      <ion-icon name="key"></ion-icon>
      <ion-label class="ion-margin-start">
        CMS Grant
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>